body {
    font-size: 16px;
    max-width: 1400px;
    margin: 100px 0;
    padding: 50px;
    background-color: #F8FAFE;
}

@media (min-width:1024px) and (max-width:1499px) {
    body {
        padding: 15px;
    }
}

.nav {
    margin-top: 12px;
}

.fixed-head {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #F8FAFE;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1400px;
}

.market {
    flex-grow: 1;
}

.basket-counter {
    display: flex;
    align-items: center;
    margin-left: 28px;
}

.counter{
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    position: relative;
    bottom: 15px;
    color: #FFFFFF;
    background-color: #F36223;
    height: 18px;
    width: 18px;
    padding-top: 2px;
    margin-left: -16px;
}

.counter-heart {
    width: 20px;
    border-radius: 50px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: -20px;
}

.a {
    color: #008CF0;
    text-decoration: none;
    font-family: 'Inter';
}

.a:hover {
    color: #c00;
    cursor: pointer
}

.a:active{

    color: #A93A09;
}

.button {
    padding: 8px 12px;
    background-color: inherit;
}

.p {
    margin-bottom: 15px;
    margin-top: 0;
}

.ul {
    padding-left: 20px;
}

.iframe {
    border: dotted 1px #ccc;
    height: 300px;
    margin-top: 10px;
}

.h1 {
    font-size: 44px;
}

.h2 {
    font-size: 32px;
}

.h2-title {
    margin-top: 8px;
}

.flex-box {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.phones {
    margin: 30px 0 30px 0;
    height: 387px;
    display: flex;
    justify-content: space-between;
}

@media (min-width:1024px) and (max-width:1499px) {
    .phones {
        height: 272px;
    }
}

.mini-phone {
    height: 80px;
    width: 80px;
    border: 1px solid #888888;
    border-radius: 4px;
    justify-content: center;
    margin-right: 10px;
}

.mini-phone:hover {
    border-color: #888888;
    background-color: #F2F2F2;
    cursor: pointer
}

.mini-phone:focus {
    border: 2px solid #F36223;
}

.mini-phone :active{
    border-color:#A93A09
}

.right-menu {
    margin-left: 100px;
}

@media (min-width:1024px) and (max-width:1499px) {
    .right-menu {
        margin-left: 40px;
    }
}

.space-between {
    justify-content: space-between;
}

.left-content {
    width: auto;
}

.discaunt {
    color: #FFFFFF;
    background-color: #F36223;
    border-radius: 500px;
    padding: 4px 8px;
    margin-left: 10px;
}

.s {
    color: #888888;
}

.price {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 15px;
}

.info {
    font-size: 16px;
    margin-bottom: 10px;
}

.orange-button {
    color: #FFFFFF;
    background-color: #F36223;
    font-size: 20px;
    padding: 20px 92px;
    border: none;
    border-radius: 4px;
}

.orange-button:hover{

    background-color:#DA4A0C;  
    cursor: pointer
}

.grey-button {
    color: #FFFFFF;
    background-color: #888888;
    font-size: 20px;
    padding: 20px 92px;
    border: none;
    border-radius: 4px;
}

.add-basket:before {
    content: url('./images/basket.svg');
    margin-right: 10px;
    vertical-align: middle;
}

.basket:hover {
    background-color: #DA4A0C;
    cursor: pointer
}

.basket-box {
    width: 420px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.frame-box {
    margin-top: 40px;
}

.memory-button {
    margin-right: 10px;
    border-radius: 4px;
    border-color: #888888;
}

.memory-button:hover {
    border-color: #888888;
    background-color: #F2F2F2;
    cursor: pointer
}

.memory-button:focus {
    border: 2px solid #F36223;
}

.memory-button:active{

    border-color: #A93A09
}

.h3 {
    margin-bottom: 0;
}

.frame-title {
    color: #888888;
}

.feedback-text {
    margin-left: 16px;
}

.round {
    border-radius: 100px;
}

.feedback-h3 {
    font-size: 24px;
    margin: 0;
}

.feedback-title {
    margin-top: 66px;
    display: flex;
    justify-content: space-between;
}

.feedback-block {
    margin-top: 30px;
    display: flex;
}

.main-container {
    display: flex;
    justify-content: space-between;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 50px;
    background: #F2F2F2;
    margin-top: 100px;
}

.table {
    border: 1px solid #888888;
    border-collapse: collapse;
    margin-top: 15px;
}

thead {
    border: 1px solid #888888;
}

tr:hover {
    background-color: #F2F2F2;
    cursor: pointer
}

td,
th {
    border-right: 1px solid #888888;
    border-left: 1px solid #888888;
    border-collapse: collapse;
    padding: 10px 15px;
}

@media (min-width:1024px) and (max-width:1499px) {
    .models {
        display: none;
    }
}

.align-center {
    align-items: center;
}

.form {
    display: flex;
    margin-left: 140px;
}

@media (min-width:1024px) and (max-width:1499px) {
    .form {
        margin-left: 0;
    }
}

.new-feedback {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.text-input {
    padding: 15px 20px;
}

.text-input-block {
    margin-top: 10px;
}

.feedback-legend {
    font-size: 16px;
    font-weight: 700;
}

.textarea {
    margin-top: 40px;
    margin-bottom: 30px;
}

.name {
    flex-grow: 1;
    margin-right: 40px;
}

.number {
    width: 175px;
}

.submit-button {
    width: fit-content;
    color: #FFFFFF;
    background-color: #F36223;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
}

.hr {
    border: dotted;
    width: 100%;
}

.photo {
    height: 140px;
}

@media (min-width:1024px) and (max-width:1499px) {
    .photo {
        height: 100px;
    }
}

.rate {
    height: 30px;
}

@media (min-width:1024px) and (max-width:1499px) {
    .rate {
        height: 20px;
    }
}

.discount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.heart {
    fill: #888888;
    align-self: center;
}

.heart:hover {
    fill: #F36223;
    cursor: pointer
}

.error {
    padding: 5px 20px;
    background: #DA4A0C;
    line-height: 15px;
    color: #FFFFFF;
    margin-bottom: -40px;
}

.name-error {
    flex-grow: 2;
}