.body {
    font-size: 16px;
    max-width: 1500px;
    margin: 100px 0;
    padding: 10px 0;
    background-color: #F8FAFE;
}

@media (min-width: 1024px) and (max-width: 1499px) {
    .body {
        padding: 15px 0;
    }
}

.a {
    color: #008CF0;
    text-decoration: none;
    font-family: 'Inter', serif;
}

.a:hover {
    color: #c00;
    cursor: pointer
}

.a:active {

    color: #A93A09;
}

.h1 {
    font-size: 44px;
}

.h2 {
    font-size: 32px;
}

.h2-title {
    margin-top: 8px;
}

.h3 {
    margin-bottom: 0;
}

.market-title {
    color: #f52;
}

.flex-box {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.flex-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}