
.basket-counter {
    display: flex;
    align-items: center;
    margin-left: 28px;
}

.counter{
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    position: relative;
    bottom: 15px;
    color: #FFFFFF;
    background-color: #F36223;
    height: 18px;
    width: 18px;
    padding-top: 2px;
    margin-left: -16px;
}

.counter-heart {
    width: 20px;
    border-radius: 50px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: -20px;
}