.table {
    border: 1px solid #888888;
    border-collapse: collapse;
    margin-top: 15px;
}

thead {
    border: 1px solid #888888;
}

tr:hover {
    background-color: #F2F2F2;
    cursor: pointer
}

td,
th {
    border-right: 1px solid #888888;
    border-left: 1px solid #888888;
    border-collapse: collapse;
    padding: 10px 15px;
}

@media (min-width:1024px) and (max-width:1499px) {
    .models {
        display: none;
    }
}
