.memory-button {
    margin-right: 10px;
    border-radius: 4px;
    border-color: #888888;
}

.memory-button:hover {
    border-color: #888888;
    background-color: #F2F2F2;
    cursor: pointer
}

.memory-button:focus {
    border: 2px solid #F36223;
}

.memory-button-active{
    border-color: #A93A09
}