.fixed-head {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #F8FAFE;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1400px;
}

.market {
    flex-grow: 1;
}

.a-main {
    color: inherit;
    text-decoration: none;
}

.header {
    padding-right: 50px;
    padding-left: 50px;
}

@media (min-width: 1024px) and (max-width: 1499px) {
    .header {
        padding-right: 15px;
        padding-left: 15px;
    }
}