.feedback-text {
    margin-left: 16px;
}

.round {
    border-radius: 100px;
}

.feedback-h3 {
    font-size: 24px;
    margin: 0;
}

.feedback-h3__span {
    color:#aaaaaa;
}

.feedback-title {
    margin-top: 66px;
    display: flex;
    justify-content: space-between;
}

.feedback-block {
    margin-top: 30px;
    display: flex;
}

.form {
    display: flex;
    margin-left: 140px;
}

@media (min-width:1024px) and (max-width:1499px) {
    .form {
        margin-left: 0;
    }
}

.new-feedback {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.text-input {
    padding: 15px 20px;
}

.text-input-block {
    margin-top: 10px;
}

.feedback-legend {
    font-size: 16px;
    font-weight: 700;
}

.textarea {
    margin-top: 40px;
    margin-bottom: 30px;
}

.name {
    flex-grow: 1;
    margin-right: 40px;
}

.number {
    width: 175px;
}

.submit-button {
    width: fit-content;
    color: #FFFFFF;
    background-color: #F36223;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
}

.hr {
    border: dotted;
    width: 100%;
}

.hidden {
    display: none;
}

.photo {
    height: 140px;
}

@media (min-width:1024px) and (max-width:1499px) {
    .photo {
        height: 100px;
    }
}

.rate {
    height: 30px;
}

@media (min-width:1024px) and (max-width:1499px) {
    .rate {
        height: 20px;
    }
}

.error {
    padding: 5px 20px;
    background: #DA4A0C;
    line-height: 15px;
    color: #FFFFFF;
    margin-bottom: -40px;
}

.name-error {
    flex-grow: 2;
}