.discount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.heart {
    fill: #888888;
    align-self: center;
}

.heart:hover {
    fill: #F36223;
    cursor: pointer
}

.grey-button {
    color: #FFFFFF;
    background-color: #888888;
    font-size: 20px;
    padding: 20px 92px;
    border: none;
    border-radius: 4px;
}

.add-basket:before {
    content: url('../../../../../images/basket.svg');
    margin-right: 10px;
    vertical-align: middle;
}

.basket:hover {
    background-color: #DA4A0C;
    cursor: pointer
}

.basket-box {
    width: 420px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.price {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 15px;
}

.info {
    font-size: 16px;
    margin-bottom: 10px;
}

.discaunt {
    color: #FFFFFF;
    background-color: #F36223;
    border-radius: 500px;
    padding: 4px 8px;
    margin-left: 10px;
}