.mini-phone {
    height: 80px;
    width: 80px;
    border: 1px solid #888888;
    border-radius: 4px;
    justify-content: center;
    margin-right: 10px;
}

.mini-phone:hover {
    border-color: #888888;
    background-color: #F2F2F2;
    cursor: pointer
}

.mini-phone:focus {
    border: 2px solid #F36223;
}

.mini-phone-active{
    border-color:#A93A09
}

.img-block {
    text-align: -webkit-center;
}
.img {
    height: 60px;
    width: 30px;
}

.red {
    background-image: url(../../../images/red.png);
    background-repeat: no-repeat;
}
.green {
    background-image: url(../../../images/green.png);
    background-repeat: no-repeat;
}
.pink {
    background-image: url(../../../images/pink.png);
    background-repeat: no-repeat;
}
.blue {
    background-image: url(../../../images/blue.png);
    background-repeat: no-repeat;
}
.white {
    background-image: url(../../../images/white.png);
    background-repeat: no-repeat;
}
.black {
    background-image: url(../../../images/black.png);
    background-repeat: no-repeat;
}