.phones {
    margin: 30px 0 30px 0;
    height: 387px;
    display: flex;
    justify-content: space-between;
}

@media (min-width:1024px) and (max-width:1499px) {
    .phones {
        height: 272px;
    }
}

.right-menu {
    margin-left: 100px;
}

@media (min-width:1024px) and (max-width:1499px) {
    .right-menu {
        margin-left: 40px;
    }
}

.left-content {
    width: auto;
}

.s {
    color: #888888;
}

.orange-button {
    color: #FFFFFF;
    background-color: #F36223;
    font-size: 20px;
    padding: 20px 92px;
    border: none;
    border-radius: 4px;
}

.orange-button:hover{
    background-color:#DA4A0C;
    cursor: pointer
}

.frame-box {
    margin-top: 40px;
}

.frame-title {
    color: #888888;
}

.main-container {
    display: flex;
    justify-content: space-between;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.button {
    padding: 8px 12px;
    background-color: inherit;
}

.p {
    margin-bottom: 15px;
    margin-top: 0;
}

.ul {
    padding-left: 20px;
}

.iframe {
    border: dotted 1px #ccc;
    height: 300px;
    margin-top: 10px;
}

.main {
    padding-right: 50px;
    padding-left: 50px;
}

@media (min-width: 1024px) and (max-width: 1499px) {
    .main {
        padding-right: 15px;
        padding-left: 15px;
    }
}